<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
    <%- include('t-dependencias-head') %>
</head>
<body>
    <%- include('t-navegador') %>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Hola Profe!</h1>
    <p>Inicio con esta página para comentar un poco el proyecto, es por supuesto una demo de funciones, por lo que le falta bastante a la UI para ser un sistema que salga al mercado. Teniendo en cuenta que se van a cargar cientos o miles de registros, la organización por listados y listados dentro de selects seguramente no sea la mejor. También están faltando revisiones de escenarios, en este momento todos los campos deben estar cargados para que funcione.</p>
    <p>De todas formas, tenemos un CRUD, podemos ver en la sección Prestamos / Registrar prestamos, cómo se interrelacionan distintas tablas en la base de datos, se suman, editan y borran datos.
    </p>
    <p>También en esta sección podemos revisar la ruta para ver el desarrollo de una query super compleja, con JOINS, pero también con querys anidadas para cargar los distintos SELECT, también quizás no la mejor idea para una base de datos de miles de registros, pero funcional para este caso.</p>
    <p>En la sección Literatura / Libros, podemos ver un mínimo de CSS que se agregó para experimentar de cómo cargar una hoja de CSS propia.</p>
    <p>Sin más, saludos, gracias y lo dejo para que revise.</p>
    <p>Matías Molina</p>

            </div>
        </div>
    </div>

    
   


    
    
    
    
   
    <%- include('t-dependencias-footer') %>
</body>
</html>