
<ul class="nav justify-content-end nav-pills bg-dark p-4">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Carga Inicial</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/cargos">Cargos</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/staff">Staff</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/socios">Socios</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Literatura</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/libros">Libros</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/autores">Autores</a>
          <a class="dropdown-item" href="/generosliterarios">Generos</a>
        </div>
      </li>

    

   
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Prestamos</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/prestamoform">Registrar prestamos</a>
        <a class="dropdown-item" href="/prestamolist">Devoluciones</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>

</ul>
